<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Resultados</title>
    <h1>Resultados</h1> 
</head>
<body>
    <p> En la iteración: {{n}} , {{xm}} es una aproximación a la raiz con una tolerancia de: {{tol}}  </p>
</body>
<table>
  <thead>
    
      
      <td>N</td>
      <td>x0</td>
      <td>F(x0)</td>
      <td>DF(x0)</td>
      <td>Error</td>
    
  </thead>

  <tbody>
    
    <tr>
      
      {% for i in range(0,len) %}
        <col>
          <td>{{ iteracion[i] }}</td>
          <td>{{ X0[i] }}</td>
          <td>{{ FX[i] }}</td> 
          <td>{{ DFX[i] }}</td>
          <td>{{ Error[i] }}</td>
        </col>
      {% endfor %}
      
    </tr>
    
  </tbody>
</table>