
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Busquedas Incrementales</title>
{% include 'head.html' %}
<div id="page-wrapper" class="gray-bg dashbard-1">
	<div class="content-main">
 
<!--banner-->	
<div class="banner">
	<h2>
		<a href="inicio.html">Inicio</a>
		<i class="fa fa-angle-right"></i>
		<span>Busquedas incrementales</span>
	</h2>
</div>
<!--//banner-->

<!--faq-->
<div class="blank">	
	<div class="blank-page" style="margin-bottom: 1%; display:none;">		
		<p>El método de búsquedas incrementales consiste en encontrar un intervalo que contenga al menos una raíz partiendo de un extremo del intervalo e ir sumándole el incremento. Se evalúa la función buscando donde existe un cambio de signo, si este ocurre, en ese intervalo hay por lo menos una raíz.</p>
		<p>A continuación, el procedimiento que se debe de seguir para la aplicación del método.</p>
		<p> * Se determina un dominio de la función de interés.</p>
		<p> * Se evalúa la función tomando un pequeño incremento y un valor inicial (Xo) seleccionado del dominio arbitrariamente.</p>
		<p> *  Analizar el signo del producto de la evolución de un valor actual con el anterior y deducir con el si existe o no la raíz. Si el signo del producto es negativo, se puede dar como confirmado un intervalo que contiene la raíz, de otro modo no existe el intervalo.</p>
		<div class="gallery-img">
			<img class="img-responsive " src="{{url_for('static',filename='images/busquedas.png')}}" alt="" style="margin-left:auto;margin-right:auto;"/>   
			<span class="zoom-icon"> </span> </a>
		</div>
	</div>
	<div class="blankpage">
		<div class="form-group">
			<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:1%">
				<label class="hvr-shutter-in-horizontal login-sub">
					<input type="button" name="Ayuda" value="Ayuda" onClick="mostrarOcultar('ayuda')"> <br />
				</label>
			</div>
		</div>
	</div> 
	<div class="grid-form1">
		<h3 style="text-align: center;">Ejecutar Metodo</h3>
		{% if error == 1 %}
				<div class="form-group has-error">
					<p  style="text-align: center;margin-top: 1%;" class="form-control1" id="inputError1">{{mensajeError}}</p>
				</div>
		{% endif %}
		<div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" id="form" action="/busquedasIncrementales" method="POST">
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese una funcion F(X) <i class="fas fa-info-circle" data-toggle="tooltip" title="Log() se recibe como ln(); e^n se recibe como exp(n) o E^n"></i></label>
						<div class="col-sm-8">
							<input type="text" id="fx" name="fx" class="form-control1" placeholder="F(x)" value="{{fx}}" required> 
						</div>
					</div>
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese un X inicial <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba un numero que servira como el punto de partida"></i></label>
						<div class="col-sm-8">
							<input type="number" step="1e-64" id="x0" name="x0" class="form-control1" placeholder="X0" value="{{x0i}}" required>
						</div>
					</div>
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese un delta <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba el tamaño de los pasos para el metodo"></i></label>
						<div class="col-sm-8">
							<input type="number" step="1e-64" id="delta" name="delta" class="form-control1" placeholder="Delta" value="{{delta}}" required>
						</div>
					</div>
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese las iteraciones <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba el numero de veces que el metodo va a iterar"></i></label>
						<div class="col-sm-8">
							<input type="number" min = "1" id="ite" name="ite" class="form-control1" placeholder="Iteraciones" value="{{ite}}" required>
						</div>
					</div>
					{% include 'selector.html' %}
					<div class="form-group">
						<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:5%">
							<label class="hvr-shutter-in-horizontal login-sub">
								<input type="submit" name="Ejecutar" value="Ejecutar"> <br />
							</label>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>
		{% if grafica == 1 and error != 1 %}
		<div class="grid-form1">
			<div class="gallery-img">
				<img class="img-responsive " src="{{url_for('static',filename='images/img.png')}}" alt="" style="margin-left:auto;margin-right:auto;"/>   
					<span class="zoom-icon"> </span> </a>
			</div>	
		</div>
		{% endif %}
		{% if raiz == 1 and error != 1 %}
			<div class="grid-form1">
				<p style="margin-bottom: 1%; text-align: center;">Existe una raiz en X={{x1}} </p>
		{% elif raiz == 0 and error != 1 %}
				<p style="margin-bottom: 1%; text-align: center;">El metodo no incontro ninguna raiz en {{n}} iteraciones</p>
				<table class="table">
					<tbody>
						<tr class="table-row">
							<td class="table-text"><h7>N</h7></td>
							<td class="table-text"><h7>X<h7></td>
							<td class="table-text"><h7>F(X)</h7></td>
						</tr>
						{% for item in ejecuciones %}
					
							<tr class="table-row">
								<td class="table-text"><p>{{item[0]}}</p></td>
								<td class="table-text"><p>{{item[1]}}</p></td>
								<td class="table-text"><p>{{item[2]}}</p></td>
							</tr>
						
						{% endfor %}
					</tbody>
				</table>
			{% elif raiz == 3 and error != 1 %}
				<p style="margin-bottom: 1%; text-align: center;">Existe una raiz entre {{x0}} y {{x1}} </p>
				<table class="table">
					<tbody>
							<tr class="table-row"style="border: 1px solid">
								<td class="table-text"style="border: 1px solid"><h7>N</h7></td>
								<td class="table-text"style="border: 1px solid"><h7>X<h7></td>
								<td class="table-text"style="border: 1px solid"><h7>F(X)</h7></td>
							</tr>
						{% for item in ejecuciones %}
							<tr class="table-row">
								<td class="table-text"style="border: 1px solid"><p> {{item[0]}} </p></td>
								<td class="table-text"style="border: 1px solid"><p> {{item[1]}} </p></td>
								<td class="table-text"style="border: 1px solid"><p> {{item[2]}} </p></td>
							</tr>
						
						{% endfor %}
					</tbody>
				</table>
				{% elif raiz == 2 and error != 1 %}
				<p style="margin-bottom: 1%; text-align: center;">Existe una raiz en X = {{x1}} </p>
				<table class="table">
					<tbody>
							<tr class="table-row"style="border: 1px solid">
								<td class="table-text"style="border: 1px solid"><h7>N</h7></td>
								<td class="table-text"style="border: 1px solid"><h7>X<h7></td>
								<td class="table-text"style="border: 1px solid"><h7>F(X)</h7></td>
							</tr>
						{% for item in ejecuciones %}
							<tr class="table-row"style="border: 1px solid">
								<td class="table-text"style="border: 1px solid"><p> {{item[0]}} </p></td>
								<td class="table-text"style="border: 1px solid"><p> {{item[1]}} </p></td>
								<td class="table-text"style="border: 1px solid"><p> {{item[2]}} </p></td>
							</tr>
						
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
</div>
</div>

<!--//faq-->

<!---->
<div class="copy">
  <p> &copy; 2019 GottaGoFast. All Rights Reserved .</p>	   
</div>
<div class="clearfix"> </div>
</div>
  
