<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <LINK REL=StyleSheet HREF="../css/estilo.css" TYPE="text/css" MEDIA=screen>
    <title>Busquedas Incrementales</title>
    <h1>Resultados</h1> 
</head>
<body>
    <p> Hay una raiz entre {{x0}} y {{x1}} </p>
</body>
<table>
  <thead>
    <tr>
      <th>N</th>
      <th>x0</th>
      <th>F(x0)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{n}}</td>
      <td>{{x0}}</td>
      <td>{{fx0}}</td>
    </tr>
    <tr>
      <td>{{n + 1}}</td>
      <td>{{x1}}</td>
      <td>{{fx1}}</td>
    </tr>
  </tbody>
</table>
