<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Cholesky</title>
{% include 'head.html' %}
<div id="page-wrapper" class="gray-bg dashbard-1">
	<div class="content-main">
 
<!--banner-->	
<div class="banner">
	<h2>
		<a href="inicio.html">Inicio</a>
		<i class="fa fa-angle-right"></i>
		<span>Cholesky</span>
	</h2>
</div>
<!--//banner-->

<!--faq-->
<div class="blank">
	<div class="blank-page" id="ayuda" style="margin-bottom: 1%; display:none;">		
		<p>En este método se utiliza como base que los valores de la diagonal de la matriz U son iguales a los de la matriz L, es decir: Ukk = Lkk.</p>
		<p>A continuación, el procedimiento que se debe de seguir para la aplicación del método:</p>
		<p>*	Se construye la matriz de coeficiente y el vector con los términos independientes correspondientes al sistema, tomándolos como valores iniciales para poder calcular la factorización.</p>
		<p>*	Se toma la matriz de coeficiente y teniendo en cuenta la base del principio del método, se procede a realizar el cálculo de las matrices L y U, correspondientes a la factorización de A.</p>
		<p>*	Cuando se tenga la factorización, se toma la matriz de la factorización U y el vector x para proceder a calcular el vector z.</p>
		<p>*	Una vez se tenga el vector z, el vector de términos independientes y la matriz L de la factorización, se procede a resolver el sistema Lz=b.</p>
	</div>

	<div class="blank-page" style="margin-bottom:1.5%">
		<form class="form-horizontal" id="form" >
			<div class="form-group"style="margin-top:1.5%">
				<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;,">
					<label class="hvr-shutter-in-horizontal login-sub">
						<input type="button" name="Ayuda" value="Ayuda" onClick="mostrarOcultar('ayuda')"> <br />
					</label>
				</div>
			</div>
		</form>
	</div>
	
	<div class="grid-form1">
		<h3 style="text-align: center;">Crear Matriz</h3>
		<div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" id="form" action="/choleskyM" method="POST">
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese el Tamaño <i class="fas fa-info-circle" data-toggle="tooltip" title="El tamaño de la matriz sera N*N+1 donde la columna final son los valores independientes"></i></label>
						<div class="col-sm-8">
							<input type="number" id="n" name="n" class="form-control1" placeholder="Tamaño" value="{{n}}" required> 
					</div>	
					<div class="form-group">
						<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:5%">
							<label class="hvr-shutter-in-horizontal login-sub">
								<input type="submit" name="Crear" value="Crear"> <br />
							</label>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>
		</div>
		{% if dibujarMatrizInicial == 1 %}
			<div class="grid-form1">
					<h3 style="text-align: center;">Matriz</h3>
		{% if error == 1 %}
					<div class="form-group has-error">
						<p  style="text-align: center;margin-top: 1%;" class="form-control1" id="inputError1">{{mensajeError}}</p>
					</div>
		{% endif %}
				<div class="tab-content">
				<div class="tab-pane active" id="horizontal-form">
					<form class="form-horizontal" id="form2" action="/cholesky" method="POST">
						<input type="number" style="visibility:hidden;" id="n" name="n" class="form-control1" value="{{n}}" required>
						{% for i in indiceFilas %}
							<table class="table">
								<tbody>
									<tr class="table-row"style="border: 1px solid">
										{% for j in indiceColumnas %}
											<td class="table-text"style="border: 1px solid"><input type="text" name="{{i}}{{j}}" class="form-control1" placeholder="Posicion {{i+1}}{{j+1}}" value="{{matrizInicial[i][j]}}" required></td>
										{% endfor %}
									</tr
								</tbody>
							</table>
						{% endfor %}
						<div class="form-group" style="margin-top:1.5%;">
							<label  for="selector" class="col-sm-2 control-label">Ver procedimiento <i class="fas fa-info-circle" data-toggle="tooltip" title="Dale si sí deseas ver cada una de las fases del metodo"></i></label>
								<div class="col-sm-8">
									<select name="selector" id="selector" class="form-control1">
										<option value="0">No</option>
										<option value="1">Si</option>
									</select>
								</div>
						</div>
						<div class="form-group">
							<label for="selector1" class="col-sm-2 control-label">¿Desea usar otro metodo? <i class="fas fa-info-circle" data-toggle="tooltip" title="Cambia de metodo escogiendo que metodo deseas usar y dandole al boton ejecutar"></i></label>
							<div class="col-sm-8">
								<select name="selector1" id="selector1" class="form-control1">
									<option selected="true" value="0">No</option>
									<option value="eliminacionGaussiana">Eliminacion Gaussiana</option>
									<option value="pivoteoParcial">Pivoteo Parcial</option>
									<option value="pivoteoEscalonado">Pivoteo Escalonado</option>
									<option value="pivoteoTotal">Pivoteo Total</option>
									<option value="crout">Crout</option>
									<option value="cholesky">Cholesky</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:5%">
								<label class="hvr-shutter-in-horizontal login-sub">
									<input type="submit" id="ejecutar" name="ejecutar" value="Ejecutar">
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		{% endif %}
		{% if dibujarMatrizSolucion == 1   and error != 1 %}
			<div class="grid-form1">
			{% if verProcedimiento == 0 %}
				<div class="tab-content">
					<div class="tab-pane active" id="horizontal-form">
						<h3 style="text-align: center;">Matriz Solucion L</h3>
						<table class="table">
							<tbody>
								{% for i in matrizSolucionL %}
										<tr class="table-row"style="border: 1px solid">
											{% for j in i %}
													<td class="table-text"style="border: 1px solid">{{j}}</td>
											{% endfor %}
										</tr
								{% endfor %}
							</tbody>
						</table>
						<h3 style="text-align: center;margin-top:1.5%">Matriz Solucion U</h3>
						<table class="table">
							<tbody>
								{% for i in matrizSolucionU %}
										<tr class="table-row"style="border: 1px solid">
											{% for j in i %}
													<td class="table-text"style="border: 1px solid">{{j}}</td>
											{% endfor %}
										</tr
								{% endfor %}
							</tbody>
						</table>
						<div class="form-group">
								{% for i in indiceFilas %}
									<p style="margin-bottom: 1%;margin-top:2%;text-align:center;">X{{i}} = {{X[i][0]}} </p>
								{% endfor %}
						</div>
					</div>
				</div>
			{% else %}
				<h3 style="text-align: center;">Matriz Solucion L</h3>
				{% for k in procedimientoL %}
				<div class="tab-content">
					<div class="tab-pane active" id="horizontal-form">
						<table class="table">
							<tbody>
									{% for i in k %}
											<tr class="table-row"style="border: 1px solid">
												{% for j in i %}
														<td class="table-text"style="border: 1px solid">{{j}}</td>
												{% endfor %}
											</tr>
									{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endfor %}
				<h3 style="text-align: center;margin-top:1.5%">Matriz Solucion U</h3>
				{% for k in procedimientoU %}
				<div class="tab-content">
					<div class="tab-pane active" id="horizontal-form">
						<table class="table">
							<tbody>
									{% for i in k %}
											<tr class="table-row"style="border: 1px solid">
												{% for j in i %}
														<td class="table-text"style="border: 1px solid">{{j}}</td>
												{% endfor %}
											</tr>
									{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endfor %}
				<div class="form-group">
							{% for i in indiceFilas %}
								<p style="margin-bottom: 1%;margin-top:2%;text-align:center;">X{{i}} = {{X[i][0]}} </p>
							{% endfor %}
					</div>
			{% endif %}
		{% endif %}
	</div>

</div>
</div>

<!--//faq-->

<!---->
<div class="copy">
  <p> &copy; 2019 GottaGoFast. All Rights Reserved .</p>	   
</div>
<div class="clearfix"> </div>
</div>
  