<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Gauss Seidel</title>
{% include 'head.html' %}
<div id="page-wrapper" class="gray-bg dashbard-1">
	<div class="content-main">
 
<!--banner-->	
<div class="banner">
	<h2>
		<a href="inicio.html">Inicio</a>
		<i class="fa fa-angle-right"></i>
		<span>Gauss Seidel</span>
	</h2>
</div>
<!--//banner-->

<!--faq-->
<div class="blank">
	<div class="blank-page" style="margin-bottom: 1%; display:none;">		
		<p>Este método permite hallar las aproximaciones a una solución de sistemas de ecuaciones lineales, utilizando los valores calculados en cada uno de los pasos, para hallar los nuevos valores, es decir, en este método un cálculo siempre depende del anterior.</p>

		<p><br/>A continuación, el procedimiento que se debe de seguir para la aplicación del método:</p>
		
		<p><br/>*	Para iniciar se debe de ingresar los siguientes datos: unas aproximaciones iniciales, la matriz de coeficientes, el vector de términos independientes, una tolerancia y un número total de iteraciones.</p>
		<p>*	Se escogen las aproximaciones iniciales, las cuales servirán para hallar las nuevas aproximaciones.</p>
		<p>*	En cada paso, es posible calcular el error, siempre y cuando se calcule la norma.</p>
		<p>*	Como parte final de programa se debe tener pendiente lo siguiente. Si el programa sobrepasa el número de iteraciones, o si el error es menor del propuesto al principio; si sucede alguna de estas dos situaciones, la última iteración será donde se encuentra las aproximaciones a la solución del sistema de ecuaciones.</p>
	</div>
	<div class="blankpage">
		<div class="form-group">
			<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:1%">
				<label class="hvr-shutter-in-horizontal login-sub">
					<input type="button" name="Ayuda" value="Ayuda" onClick="mostrarOcultar('ayuda')"> <br />
				</label>
			</div>
		</div>
	</div>
	<div class="grid-form1">
		<h3 style="text-align: center;">Crear Matriz</h3>
		<div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" id="form" action="/gaussSeidelM" method="POST">
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese el Tamaño <i class="fas fa-info-circle" data-toggle="tooltip" title="El tamaño de la matriz sera N*N+1 donde la columna final son los valores independientes"></i></label>
						<div class="col-sm-8">
							<input type="number" id="n" name="n" class="form-control1" placeholder="Tamaño" value="{{n}}" required> 
					</div>	
					<div class="form-group">
						<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:5%">
							<label class="hvr-shutter-in-horizontal login-sub">
								<input type="submit" name="Crear" value="Crear"> <br />
							</label>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>
		</div>
		{% if dibujarMatrizInicial == 1  %}
			<div class="grid-form1">
					<h3 style="text-align: center;">Matriz</h3>
				<div class="tab-content">
				<div class="tab-pane active" id="horizontal-form">
					<form class="form-horizontal" id="form2" action="/gaussSeidel" method="POST">
						<input type="number" style="visibility:hidden;" id="n" name="n" class="form-control1" value="{{n}}" required>
						{% for i in indiceFilas %}
							<table class="table">
								<tbody>
									<tr class="table-row"style="border: 1px solid">
										{% for j in indiceColumnas %}
											<td class="table-text"style="border: 1px solid"><input type="text" name="{{i}}{{j}}" class="form-control1" placeholder="Posicion {{i+1}}{{j+1}}" value="{{matrizInicial[i][j]}}" required></td>
										{% endfor %}
									</tr
								</tbody>
							</table>
						{% endfor %}
						<h3 style="text-align: center;margin-top:1.5%">Valores Iniciales</h3>
						<table class="table">
							<tbody>
								<tr class="table-row"style="border: 1px solid">
									{% for i in indiceFilas %}	
										<td class="table-text"style="border: 1px solid"><input type="text"  name="iniciales{{i}}" class="form-control1" placeholder="Valor x{{i+1}}" value="{{iniciales[i]}}" required></td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
						<div class="form-group" style="margin-top:3%;">
							<label for="focusedinput" class="col-sm-2 control-label">Ingrese la tolerancia <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba un valor del error minimo para que el metodo termine, escribalo0. en formato 0.01"></i></label>
							<div class="col-sm-8">
								<input type="number" step="1e-64" id="tol" class="form-control1" name="tol" placeholder="Tolerancia" value="{{tol}}" required>
							</div>
                    	</div>
						<div class="form-group">
							<label for="focusedinput" class="col-sm-2 control-label">Ingrese las iteraciones <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba el numero de iteraciones que el metodo hará"></i></label>
							<div class="col-sm-8">
								<input type="number" min="1" id="ite" name="ite" class="form-control1" placeholder="Iteraciones" value="{{ite}}" required>
							</div>
						</div>
						<div class="form-group">
							<label for="selector2" class="col-sm-2 control-label">Tipo de error <i class="fas fa-info-circle" data-toggle="tooltip" title="Selecciona que tipo de error deseas ver en tu tabla de respuesta"></i></label>
								<div class="col-sm-8">
									<select name="selector2" id="selector2" class="form-control1">
										<option value="0">Error Absoluto</option>
										<option value="1">Error Relativo</option>
									</select>
								</div>
						</div>
						<div class="form-group">
							<label for="selector1" class="col-sm-2 control-label">¿Desea usar otro metodo? <i class="fas fa-info-circle" data-toggle="tooltip" title="Cambia de metodo escogiendo que metodo deseas usar y dandole al boton ejecutar"></i></label>
							<div class="col-sm-8">
								<select name="selector1" id="selector1" class="form-control1">
									<option selected="true" value="0">No</option>
									<option value="eliminacionGaussiana">Eliminacion Gaussiana</option>
									<option value="pivoteoParcial">Pivoteo Parcial</option>
									<option value="pivoteoEscalonado">Pivoteo Escalonado</option>
									<option value="pivoteoTotal">Pivoteo Total</option>
									<option value="crout">Crout</option>
									<option value="cholesky">Cholesky</option>
									<option value="dolittle">Doolittle</option>
									<option value="jacobi">Jacobi</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:5%">
								<label class="hvr-shutter-in-horizontal login-sub">
									<input type="submit" id="ejecutar" name="ejecutar" value="Ejecutar">
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		{% endif %}
		{% if dibujarMatrizSolucion == 1  and error != 1%}
			<div class="grid-form1">
					<h3 style="text-align: center;">Solución</h3>
				<table class="table">
					<tbody>
						{% for i in resultados %}
							<tr class="table-row"style="border: 1px solid">
								<td class="table-text"style="border: 1px solid"><h7> {{i[0]}} </h7></td>
								{% for j in i[1] %}	
									<td class="table-text"style="border: 1px solid"><h7> {{j}} </h7></td>
								{% endfor %}
								<td class="table-text"style="border: 1px solid"><h7> {{i[2]}} </h7></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>

</div>
</div>

<!--//faq-->

<!---->
<div class="copy">
  <p> &copy; 2019 GottaGoFast. All Rights Reserved .</p>	   
</div>
<div class="clearfix"> </div>
</div>
  