
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Biseccion</title>
{% include 'head.html' %}
<div id="page-wrapper" class="gray-bg dashbard-1">
	<div class="content-main">
 
<!--banner-->	
<div class="banner">
	<h2>
		<a href="/">Inicio</a>
	</h2>
</div>
<!--//banner-->

<!--faq-->
<div class="blank">
	<div class="blank-page" style="margin-bottom: 1%">		
		<p>El análisis o cálculo numérico, es una rama de la matemática que estudia los métodos aritméticos que se pueden aplicar en la resolución de problemas, son técnicas que permiten el logro de soluciones aproximadas (en ocasiones exactas) de un problema determinado, a través de la ejecución de una cantidad finita de operaciones lógicas y algebraicas básicas.</p>
    	<p>La evolución del análisis numérico como una disciplina, ha estado estrechamente vinculada al acelerado desarrollo que los ordenadores han experimentado desde su creación.</p>
		<br>
        <p>El objetivo de la pagina es proveer al usuario un lugar en donde este pueda aprender y utilizar los metodos numericos mas importantes para solucionar metodos de una variable, de multiples variables o interpolacion</p>
	</div>
</div>
</div>

<!--//faq-->

<!---->
<div class="copy">
  <p> &copy; 2019 GottaGoFast. All Rights Reserved .</p>	   
</div>
<div class="clearfix"> </div>
</div>
  
