<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Newton</title>
{% include 'head.html' %}
<div id="page-wrapper" class="gray-bg dashbard-1">
	<div class="content-main">
 
<!--banner-->	
<div class="banner">
	<h2>
		<a href="inicio.html">Inicio</a>
		<i class="fa fa-angle-right"></i>
		<span>Newton</span>
	</h2>
</div>
<!--//banner-->

<!--faq-->
<div class="blank">
	<div class="blank-page" style="margin-bottom: 1%">		
		<p>El método de Newton, también se conoce con el nombre de método de Newton-Raphson o método de Newton-Fourier, es un algoritmo que se utiliza para poder encontrar las aproximaciones del cero o de las raíces en una función.</p>
		<p>Puede ser útil si desea encontrar el máximo o el mínimo de una función, generando la primera derivada y aproximándola a cero.</p>
		<p>Esto se puede calcular mediante la ecuación:</p>
		<div class="gallery-img">
			<img class="img-responsive " src="{{url_for('static',filename='images/newton.png')}}" alt="" style="margin-left:auto;margin-right:auto;"/>   
			<span class="zoom-icon"> </span> </a>
		</div>
		<p>A continuación, el procedimiento que se debe de seguir para la aplicación del método:</p>
		<p> * Se debe elegir dos aproximaciones iniciales X0.</p>
		<p> * Se calcula el X1 = g(x1).</p>
		<p> * Se calcula el X2 = g(x2) … Xn = g(xn -1).</p>
		<p> * Se repite el paso anterior hasta que se llegue a una aproximación</p>
		<div class="gallery-img">
			<img class="img-responsive " src="{{url_for('static',filename='images/newton2.png')}}" alt="" style="margin-left:auto;margin-right:auto;"/>   
			<span class="zoom-icon"> </span> </a>
		</div>
	</div>
	<div class="grid-form1">
		<h3 style="text-align: center;">Ejecutar Metodo</h3>
		{% if error == 1 %}
				<div class="form-group has-error">
					<p  style="text-align: center;margin-top: 1%;" class="form-control1" id="inputError1">{{mensajeError}}</p>
				</div>
		{% endif %}
		<div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" id="form" action="/newton" method="POST">
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese una funcion F(X) <i class="fas fa-info-circle" data-toggle="tooltip" title="Log() se recibe como ln(); e^n se recibe como exp(n) o E^n"></i></label>
						<div class="col-sm-8">
							<input type="text" id="fx" name="fx" class="form-control1" placeholder="F(x)" value="{{fx}}" required> 
						</div>
					</div>
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese un x0 <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba un numero que servira como el punto de partida para el metodo"></i></label>
						<div class="col-sm-8">
                                <input type="number" step="1e-64" id="x0" class="form-control1" name="x0" placeholder="X0" value="{{x0}}" required>
						</div>
                    </div>
                    <div class="form-group">
                        <label for="focusedinput" class="col-sm-2 control-label">Ingrese la tolerancia <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba un valor del error minimo para que el metodo termine, escribalo0. en formato 0.01"></i></label>
                        <div class="col-sm-8">
                            <input type="number" step="1e-64" id="tol" class="form-control1" name="tol" placeholder="Tolerancia" value="{{tol}}" required>
                        </div>
                    </div>
					<div class="form-group">
						<label for="focusedinput" class="col-sm-2 control-label">Ingrese las iteraciones <i class="fas fa-info-circle" data-toggle="tooltip" title="Escriba el numero de iteraciones que el metodo hará"></i></label>
						<div class="col-sm-8">
							<input type="number" min="1" id="ite" name="ite" class="form-control1" placeholder="Iteraciones" value="{{ite}}" required>
						</div>
					</div>
					{% include 'selector.html' %}
					<div class="form-group">
						<div class="col-md-3 login-do" style="margin-left: 37%;margin-right:37%;margin-top:5%">
							<label class="hvr-shutter-in-horizontal login-sub">
								<input type="submit" name="Ejecutar" value="Ejecutar"> <br />
							</label>
						</div>
					</div>
					</div>
				</form>
			</div>
		</div>
		{% if grafica == 1 && error != 1%}
		<div class="grid-form1">
			<div class="gallery-img">
				<img class="img-responsive " src="{{url_for('static',filename='images/img.png')}}" alt="" style="margin-left:auto;margin-right:auto;"/>   
					<span class="zoom-icon"> </span> </a>
			</div>	
		</div>
		{% endif %}
		{% if raiz == 1 && error != 1 %}
			<div class="grid-form1">
				<p style="margin-bottom: 1%; text-align: center;">Existe una raiz en X = {{xs}} </p>
			{% elif raiz == 0%}
				<p style="margin-bottom: 1%; text-align: center;">El metodo no encontro ninguna raiz con una tolerancia de {{tol}} en {{n}} iteraciones</p>
				<table class="table">
					<tbody>
						<tr class="table-row"style="border: 1px solid">
							<td class="table-text"style="border: 1px solid"><h7>N</h7></td>
							<td class="table-text"style="border: 1px solid"><h7>X0<h7></td>
                            <td class="table-text"style="border: 1px solid"><h7>F(X0)</h7></td>
                            {% if e == 0 %}
                            	<td class="table-text"style="border: 1px solid"><h7>E. ABSOLUTO</h7></td>
							{% else %}
                            	<td class="table-text"style="border: 1px solid"><h7>E. RELATIVO</h7></td>
							{% endif %}
						</tr>
						{% for item in ejecuciones %}
					
							<tr class="table-row"style="border: 1px solid">
								<td class="table-text"style="border: 1px solid"><p>{{item[0]}}</p></td>
								<td class="table-text"style="border: 1px solid"><p>{{item[1]}}</p></td>
                                <td class="table-text"style="border: 1px solid"><p>{{item[2]}}</p></td>
                                <td class="table-text"style="border: 1px solid"><p>{{item[3]}}</p></td>
							</tr>
						
						{% endfor %}
					</tbody>
				</table>
			{% elif raiz == 3 %}
				<p style="margin-bottom: 1%; text-align: center;">Existe una raiz en X = {{xs}} con una tolerancia de {{tolFinal}} </p>
				<table class="table">
					<tbody>
						<tr class="table-row"style="border: 1px solid">
							<td class="table-text"style="border: 1px solid"><h7>N</h7></td>
							<td class="table-text"style="border: 1px solid"><h7>X0<h7></td>
                            <td class="table-text"style="border: 1px solid"><h7>F(X0)</h7></td>
                            {% if e == 0 %}
                            	<td class="table-text"style="border: 1px solid"><h7>E. ABSOLUTO</h7></td>
							{% else %}
                            	<td class="table-text"style="border: 1px solid"><h7>E. RELATIVO</h7></td>
							{% endif %}
						</tr>
						{% for item in ejecuciones %}
					
							<tr class="table-row"style="border: 1px solid">
								<td class="table-text"style="border: 1px solid"><p>{{item[0]}}</p></td>
								<td class="table-text"style="border: 1px solid"><p>{{item[1]}}</p></td>
                                <td class="table-text"style="border: 1px solid"><p>{{item[2]}}</p></td>
                                <td class="table-text"style="border: 1px solid"><p>{{item[3]}}</p></td>
							</tr>
						
						{% endfor %}
					</tbody>
				</table>
				{% elif raiz == 2 %}
				<p style="margin-bottom: 1%; text-align: center;">Existe una raiz en X = {{xs}} </p>
				<table class="table">
					<tbody>
						<tr class="table-row"style="border: 1px solid">
							<td class="table-text"style="border: 1px solid"><h7>N</h7></td>
							<td class="table-text"style="border: 1px solid"><h7>X0<h7></td>
                            <td class="table-text"style="border: 1px solid"><h7>F(X0)</h7></td>
                            {% if e == 0 %}
                            	<td class="table-text"style="border: 1px solid"><h7>E. ABSOLUTO</h7></td>
							{% else %}
                            	<td class="table-text"style="border: 1px solid"><h7>E. RELATIVO</h7></td>
							{% endif %}
						</tr>
						{% for item in ejecuciones %}
					
							<tr class="table-row"style="border: 1px solid">
								<td class="table-text"style="border: 1px solid"><p>{{item[0]}}</p></td>
								<td class="table-text"style="border: 1px solid"><p>{{item[1]}}</p></td>
                                <td class="table-text"style="border: 1px solid"><p>{{item[2]}}</p></td>
                                <td class="table-text"style="border: 1px solid"><p>{{item[3]}}</p></td>
							</tr>
						
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}	
	</div>
</div>
</div>

<!--//faq-->

<!---->
<div class="copy">
  <p> &copy; 2019 GottaGoFast. All Rights Reserved .</p>	   
</div>
<div class="clearfix"> </div>
</div>
  
