<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <LINK REL=StyleSheet HREF="../css/estilo.css" TYPE="text/css" MEDIA=screen>
    <title>Busquedas Incrementales</title>
    <h1>Resultados</h1> 
</head>
<body>
    <p> {{x1}} es raiz </p>
    <ul>
        {% for elemento in tablaM %}
            <li>{{ elemento }}</li>
        {% endfor %}
    </ul>
</body>