<div class="form-group">
	<label for="selector1" class="col-sm-2 control-label">¿Desea usar otro metodo?</label>
		<div class="col-sm-8">
			<select name="selector1" id="selector1" class="form-control1">
				<option selected="true" value="0">No</option>
				<option value="busquedasIncrementales">Busquedas Incrementales</option>
				<option value="biseccion">Biseccion</option>
				<option value="reglaFalsa">Regla Falsa</option>
				<option value="puntoFijo">Punto Fijo</option>
				<option value="newton">Newton</option>
				<option value="raicesMultiples">Raices Multiples</option>
				<option value="secante">Secante</option>
			</select>
		</div>
</div>